* {
  --lightblue: rgb(172, 172, 255);
  --darkblue: rgb(58, 58, 255);
  --backcolor: rgb(60, 60, 90);
}
body {
  background-color: rgb(60, 60, 90);
  font-size: 20px;
}
main {
  display: flex;
  flex-wrap: wrap;
}
p {
  color: white;
  line-height: 20px;
  padding: 4px;
}

header {
  color: rgb(172, 172, 255);
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
}

a {
  color: rgb(40, 47, 80);
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}
nav {
  display: inline;
  flex-direction: row;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: white;
  max-width: fit-content;
  padding: 3px 50px;
  margin: 10px;
  /* transition-property: color, background-color;  */
}
nav:hover {
  transition-duration: 0.5s;
  background-color: var(--backcolor);
}
a:hover {
  color: white;
  transition-duration: 0.5s;
}
/* nav:active{
  background-color: black;
  color:white;
}  */
.nav-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#contact-block {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.image-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
}
.image-me img {
  width: 30%;
  margin: 10px;
  height: 100%;
}
.image-block {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.image-block img {
  max-width: 100%;
  width: 600px;
  margin: 10px;
}

#image-header {
  display: inline;
  flex-direction: row;
}
#about {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
}
#image-header img {
  max-width: 100%;
  width: 900px;
  margin: 10px;
}

footer {
  text-align: center;
  color: black;
  height: 20px;
  margin-bottom: 0px;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  main,
  nav {
    flex-direction: column;
  }
}
